<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {{!-- <link rel="stylesheet" href="style.css"> --}}
</head>


	<div class="container">
  <div class="section-1">
    <form action="/login" method="post">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name">
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      
      <input type="submit">
    </form>  
  </div>
  <div class="section-2">
    
  </div>
</div>



</body>
</html>
