<h1>
    course : {{mycourse.course_name}}
</h1><br>
<h1>
    course_code:{{mycourse.course_code}}
</h1>
<h1>
    course should be studied before it:{{mycourse.requre_course}}
</h1>
<br>
<h1>
course department: {{mycourse.department_id.department_name}}
</h1>
